## Contents for this session

- [**Conditional Statements**](#section-1)
    - `if`,`else` statement
    - `if`,`elif`, `else` statement
- [**For loops**](#section-2)
    - nested `for` loop
- [**While Loops**](#section-3)

<a id="section-1"></a>
### Conditional Statements

Conditional statements in Python are used to perform different actions based on different conditions. They allow the program to make decisions and execute specific code blocks depending on whether a condition is true or false. The main conditional statements in Python are:

1. `if` statement: It is used to execute a block of code if a specific condition is true.

```python
if condition:
    # Code to be executed if the condition is true
```

2. `else` statement: It is used to execute a block of code if the preceding `if` condition is false.

```python
if condition:
    # Code to be executed if the condition is true
else:
    # Code to be executed if the condition is false
```
3. `elif` statement: It is short for "else if" and is used to check multiple conditions one by one. It is used following an `if` statement or another `elif` statement.

```python
if condition1:
    # Code to be executed if condition1 is true
elif condition2:
    # Code to be executed if condition2 is true
elif condition3:
    # Code to be executed if condition3 is true
else:
    # Code to be executed if all conditions are false
```

**`if`,`else` statement**

Check if a number is odd or even.

In [ ]:
number = int(input("Enter a number"))

if number % 2 == 0:
    print("It is even")
else:
    print("Odd")

Range defining condition: Check if it is teenage or not.

In [ ]:
age = int(input("Enter your age: "))

if age>=13 and age<20:
    print("Teenage")
else:
    print("Not a teenager")

**`if`,`elif`, `else` statement**

Check if a number is positive, negative, or zero.

In [ ]:
number = int(input("Enter a number: "))

if number > 0:
    print("Positive number")
elif number < 0:
    print("Negative number")
else:
    print("The number is ZERO!!!")

**[EXERCISE]**  
Implement the grading condition problem.  

A+ => 90 - 100  
A => 80 - 90  
B => 60 - 80  
C => 40 - 60  
D => <40

In [ ]:
marks = int(input("Enter your marks"))

if marks >= 90 and marks <= 100:
    print("A+")
elif marks >= 80 and marks < 90:
    print("A")
elif marks >= 60 and marks < 80:
    print("B")
elif marks >= 40 and marks < 60:
    print("C")
elif marks >= 0 and marks < 40:
    print("D")
else:
    print("Invalid marks")

<a id="section-2"></a>
### For Loops

Looping through a string

In [ ]:
word = "Kathmandu"
for i in word:
    print(i)

In [ ]:
a = 456
for i in a:
    print(i)

Looping through a numeric range

In [ ]:
for i in range(1,11):
    print(i)

Skipping the loop

In [ ]:
for i in range(1,11,2):
    print(i)

In [ ]:
for i in range(2,11,2):
    print(i)

**[EXERCISE]**  

Using `f-string` and `for` loop print the following  
```
The value of 7 * 1 is 7  
The value of 7 * 2 is 14  
...  
The value of 7 * 10 is 70  
```

In [ ]:
n = 7
for i in range(1,11):
    print(f"The value of {n} * {i} is {n*i}")

**[EXERCISE]**  
Print odd numbers between 1 to 10 with only `range(1,11)`

In [ ]:
for i in range(1,11):
    if i%2==1:
        print(i)

**[EXERCISE]**  
Can you find the sum of numbers from 1 to 100?

In [ ]:
s = 0
for i in range(1,101):
    s = s + i
print(s)

**[EXERCISE]**  
Sum of even numbers from 1 to 100

In [ ]:
s=0
for i in range(2,101,2):
    s=s+i
print(s)

In [ ]:
s = 0
for i in range(1,101):
    if i%2==0:
        s = s + i
print(s)

**[EXERCISE]**  
Find the factorial of a number using the similar approach.  
Ask for user input.  
Example: Factorial of `5` is `5! = 5*4*3*2*1 = 120`

In [ ]:
num = int(input("Enter a number: "))

factorial = 1

if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
        factorial = factorial*i
    print("The factorial of",num,"is",factorial)

**[EXERCISE]**  
Count the number of the character `o` in the word `pneumonoultramicroscopicsilicovolcanoconeosis`

In [ ]:
word = "pneumonoultramicroscopicsilicovolcanoconeosis"
c = 0
for i in word:
    if i=='o':
        c=c+1
print(c)

**Nested `for` loop**

In [ ]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i}, {j}")

<a id="section-3"></a>
### While Loops

In [ ]:
for i in range(1,11):
    print(i)

In [2]:
i=1 # starting 
while(i<11): # condition
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

**[EXERCISE]**  
Using `while` loop, can you print the odd numbers from 1 to 100?

In [3]:
i=1 # starting 
while(i<101): # condition
    print(i)
    i+=2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

**[EXERCISE]**  
Using `while` loop, can you find the sum of numbers from 1 to 100?

In [ ]:
i= 1
s = 0
while i<101:
    s=s+i
    i+=1
print(s)

**[EXERCISE]**  
Using `while` loop, can you print even numbers from 1 to 100?

In [ ]:
i=2
s=0
while i<=100:
    s=s+i
    i=i+2
print(s)

**[EXERCISE]**  
Print the multiples of 7 upto 10th term using `for` and `while` loop

In [ ]:
a=7
s=1
for i in range(1,11):
    s=a*i
    print(s)

In [ ]:
n = 1
while n <=10:
    multiple = n * 7
    print(multiple)
    n = n + 1

In [ ]:
a=7
s=1
i=1
while(i<=10):
    s=a*i
    i=i+1
    print(s)

**[EXERCISE]**  
Print the factorial of a number using `while` loop.

In [ ]:
n = 5
factorial = 1
while n > 0:
    factorial *= n
    n -= 1
print(factorial)

1) Given the BMI of a person, print the following weight status.

|   Weight   |       Status        |
|------------|--------------------|
| Below 18.5 |     Underweight     |
| 18.5 to 24.9 |   Normal weight   |
| 25 to 29.9 |     Overweight      |
| 30 to 34.9 |       Obese         |
| 35 to 39.9 |     Very obese      |
| Above 40   |   Extremely obese   |




2) Using an f-string print the following.  
```
The value of 13 * 1 is 13  
The value of 13 * 2 is 26  
The value of 13 * 3 is 39  
...  
The value of 13 * 10 is 130  
```
3) Generate the following series.
`1,11,111,1111,...,upto 10th term`

4) Find the sum of following series.
`1+11+111+1111,...,upto 10th term`


Hard problems

5) Generate the following Fibonacci series.  
`1,1,2,3,5,8 upto 10th term`  
In the Fibonacci sequence, each number is the sum of the two previous ones.

6) Given a number a, find the sum of the digits of the numbers.
Eg: if `a = 432`, the answer is `4+3+2 = 8`  
[Hint] You might also need to use the `//` operator in Python

7) Given a number, check whether the number is Armstrong or not.  
Eg: An Armstrong number is one whose sum of digits raised to the power three equals the number itself. 371, for example, is an Armstrong number because 3^3 + 7^3 + 1^3 = 371.