## Contents for this session

- [**Python List**](#section-1)
    - append
    - insert
    - clear
    - copy
    - count
    - extend
    - index
    - pop
    - remove
    - reverse
    - sort
- [**Dictionary**](#section-2)
- [**Tuple**](#section-3)
- [**Set**](#section-4)

### Python data structure
Python offers several built-in data structures that allow you to organize and store data efficiently. Here are some commonly used data structures in Python.

<a id="section-1"></a>
### Python List

Lists are ordered collections of items enclosed in square brackets (`[]`). They can store different types of elements and can be modified (mutable). You can access elements using their indices, and lists support various operations like adding, removing, and modifying elements.

In [ ]:
a = [1,4,3.5,3,"apple","ball"]

In [ ]:
type(a)

In [ ]:
a[4]

In [ ]:
a[2:5]

**[Exercise]**  
How do you access `apple`?

In [ ]:
a = [1,2,3,[4,'apple']]

In [ ]:
a[3][1]

How do you access `bat`?

In [ ]:
a = [1,3,[4,"apple", ['cat','bat']]]

In [ ]:
a[2][2][1]

**append():**  
The append() function adds an element to the end of the list.

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

In [ ]:
shopping_list = ['book','clothes']
shopping_list.append('shoes')

In [ ]:
shopping_list

In [ ]:
shopping_list.append(4)
shopping_list

In [ ]:
shopping_list.append([1,2,3])
shopping_list

**insert():**  
The insert() function inserts an element at a specific index in the list.

In [ ]:
li = ['apple', 'ball', 'cat']

In [ ]:
li

In [ ]:
li.insert(2, 'dog')

In [ ]:
li

**clear():**  
The clear() function removes all the elements from the list.

In [ ]:
my_list = [1, 2, 3, 4]
my_list.clear()
print(my_list)

**copy():**  
The copy() function creates a new copy of the list.

In [ ]:
my_list = [1, 2, 3]
new_list = my_list.copy()
print(new_list)

**count():**  
The count() function returns the number of occurrences of a specific element in the list.

In [ ]:
my_list = [1, 2, 3, 2, 2, 4, 2]
count = my_list.count(2)
print(count)

**Do the same operation using `for` loop**  
Count how many `2` are there in the `my_list`

**extend():**  
The extend() function appends the elements of another list to the end of the current list.

In [ ]:
my_list = [1, 2, 3]
other_list = [4, 5, 6]
my_list.extend(other_list)
print(my_list)

**index():**
The index() function returns the index of the first occurrence of a specific element in the list.

In [ ]:
my_list = [1, 3, 3, 'cat', 5]
index = my_list.index(3)
print(index)

**pop():**  
The pop() function removes and returns an element from a specific index (or the last element if no index is specified).

In [ ]:
my_list = [1, 2, 'cat', 4]
removed_element = my_list.pop(2) # pops the index 2
print(removed_element)
print(my_list)

**remove():**  
The remove() function removes the first occurrence of a specific element from the list.

In [ ]:
my_list = [1, 2, 3, 2, 4]
my_list.remove(2)
print(my_list)

**reverse():**  
The reverse() function reverses the order of elements in the list.

In [ ]:
my_list = [1, 2, 3, 4]
my_list.reverse()
print(my_list)

In [ ]:
a = ['cat', 'bat', 'mat']
a[::-1]

**sort():**  
The sort() function sorts the elements of the list in ascending order.

In [ ]:
my_list = [4, 2, 1, 3]
my_list.sort()
print(my_list)

**[Exercise]**  

- Create an `old_list` ranging from values `1` to `10`.  
- Create a blank `new_list = []`.  
- Loop through the `old_list` and append only the even numbers to the `new_list`.  
- Print the `new_list`.

In [2]:
old_list = list(range(1,11))
new_list = []
for i in old_list:
    if i%2==0:
        new_list.append(i)
new_list

[2, 4, 6, 8, 10]

<a id="section-2"></a>
### Dictionary
It is a data structure that stores key-value pairs. It is also known as an associative array or hash map.

In [3]:
a = ['Akash', 'Biratagar', 10]
# list is identified by its index
a[2]

10

In [4]:
a = {
    'name': 'Akash',
    'address': 'Biratnagar',
    'age': 16
}

In [11]:
type(a)

dict

In [12]:
a['name']

'Akash'

In [13]:
a.get('name')

'Akash'

In [14]:
a['address']

'Biratnagar'

In [15]:
a.get('address')

'Biratnagar'

In [17]:
a = {
    'name': 'Akash',
    'address': 'Biratnagar',
    'interests': ['programming', 'football', 'society and politics']
}

**How to access `society and politics`?**

In [19]:
a['interests'][2]

'society and politics'

In [20]:
a.get('interests')[2]

'society and politics'

In [22]:
type(a.get('interests'))

list

Can we add data to the dictionary?

In [24]:
info = {
    'university': 'KU',
    'address': 'Dhulikhel'
}
print(info)

{'university': 'KU', 'address': 'Dhulikhel'}

In [25]:
info['name'] = 'Akash'
print(info)

{'university': 'KU', 'address': 'Dhulikhel', 'name': 'Akash'}

**Delete a dictionary key value**

In [26]:
del info['name']

In [27]:
info

{'university': 'KU', 'address': 'Dhulikhel'}

**Looping through a dictionary**

In [29]:
for i in info:
    print(i)

university
address

In [36]:
for k,v in info.items():
    print(k,v)

university KU
address Dhulikhel

In [34]:
info.items()

dict_items([('university', 'KU'), ('address', 'Dhulikhel')])

**[Exercise]**  

- Create a dictionary named `info` with initial data as `institute`:`TechAxis` and `location`:`Kumaripati` and print the dictionary.
-----------
- Add a new key named `description`:`Techaxis is a training institute` and print the dictionary.
-----------
- Add a new key named `courses` that contains the value in the form of list `['Python with Data Science','Python with Django','MERN stack development']` and print the dictionary.
-----------
- Delete the key `description` and print the dictionary.
-----------
- Edit/Change the course `MERN stack development` to `MERN Fullstack development` and print the dictionary.

In [37]:
info = {
    'company': 'Techaxis',
    'location': 'Kumaripati'
}
info

{'company': 'Techaxis', 'location': 'Kumaripati'}

In [38]:
info['description'] = 'Techaxis is a training institute'
info

{'company': 'Techaxis',
 'location': 'Kumaripati',
 'description': 'Techaxis is a training institute'}

In [39]:
info['courses'] = ['Python with Data Science','Python with Django','MERN stack development']
info

{'company': 'Techaxis',
 'location': 'Kumaripati',
 'description': 'Techaxis is a training institute',
 'courses': ['Python with Data Science',
  'Python with Django',
  'MERN stack development']}

In [40]:
del info['description']

In [41]:
info

{'company': 'Techaxis',
 'location': 'Kumaripati',
 'courses': ['Python with Data Science',
  'Python with Django',
  'MERN stack development']}

In [42]:
info['courses'][2] = 'MERN full stack development'
info

{'company': 'Techaxis',
 'location': 'Kumaripati',
 'courses': ['Python with Data Science',
  'Python with Django',
  'MERN full stack development']}

<a id="section-3"></a>
### Tuple
A tuple is a collection which is ordered and unchangeable.
Therefore, unlike lists, they are immutable

In [3]:
a = (1,2,3,4,5)

In [2]:
type(a)

tuple

In [45]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [53]:
a = (1,2,'apple','cat',5)
a

(1, 2, 'apple', 'cat', 5)

In [49]:
len(a)

5

In [50]:
a[2]

'apple'

Can we delete?

In [51]:
del a[0]

TypeError: 'tuple' object doesn't support item deletion

In [54]:
a

(1, 2, 'apple', 'cat', 5)

Can we update?

In [4]:
a[2] = 'ball'

TypeError: 'tuple' object does not support item assignment

Objects can be repeated

In [5]:
a = (1,2,'apple','cat',5,1,2,3)
a

(1, 2, 'apple', 'cat', 5, 1, 2, 3)

<a id="section-4"></a>
### Set
Set is a built-in data structure that represents an ordered collection of unique elements.

In [6]:
a = {1,2,3,4,5}

In [7]:
type(a)

set

In [8]:
a = {1,2,3,3,4,5,5,6,6,6,6,8}

In [9]:
a

{1, 2, 3, 4, 5, 6, 8}

In [14]:
a = {11, 13, 'cat', 12}
a

{11, 12, 13, 'cat'}

In [11]:
dir(a)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [12]:
a.remove(13)

In [13]:
a

{11, 12, 'cat'}

Can we `update` the data in set?  
Short answer NO!

In [17]:
a = {1,5,8,3,'apple'}

In [18]:
a

{1, 3, 5, 8, 'apple'}

However, there is an `update` function in set.

In [19]:
a.update([9,1,6]) # works like append in list
a

{1, 3, 5, 6, 8, 9, 'apple'}

Performing set operations

In [29]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

Union of two sets

In [30]:
set1.union(set2)

{1, 2, 3, 4, 5}

Intersection of two sets

In [31]:
set1.intersection(set2)

{3}

Difference between two sets

In [32]:
set1.difference(set2)

{1, 2}

### Exercises

1. List Exercises:
- a) Create a list of numbers from 1 to 10.
- b) Add the number 11 to the end of the list.
- c) Remove the number 5 from the list.
- d) Sort the list in ascending order.
- e) Multiply each element in the list by 2.

2. Dictionary Exercises:
- a) Create a dictionary that represents a person with keys "name", "age", and "country".
- b) Add a new key-value pair to the dictionary for the person's occupation.
- c) Print all the keys in the dictionary.
- d) Update the person's age to 30.
- e) Remove the country key from the dictionary.

3. Tuple Exercises:
- a) Create a tuple with three elements: "apple", "banana", "cherry".
- b) Access the second element of the tuple.
- c) Convert the tuple to a list.
- d) Check if "banana" is present in the tuple.
- e) Concatenate the tuple with another tuple containing "date" and "elderberry".

4. Set Exercises:
- a) Create a set with the elements 1, 2, 3.
- b) Add the element 4 to the set.
- c) Remove the element 2 from the set.
- d) Check if the set is empty.
- e) Create another set with the elements 3, 4, 5 and find the intersection with the first set.

**[Hint]** Set empty check

In [35]:
my_set = {'Alice'}
my_set==set() # check if empty

False

In [36]:
my_set

{'Alice'}

In [37]:
my_set.pop()

'Alice'

In [38]:
my_set

set()

In [39]:
my_set==set()

True