### Pandas Grouping and Aggregation

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('survey_results_public.csv')
schema_df = pd.read_csv('survey_results_schema.csv', index_col='Column')

### Finding the mean and median

In [ ]:
df['ConvertedComp'].mean()

In [ ]:
df['ConvertedComp'].median()

### Describe the dataframe

In [ ]:
df.describe()

### What does this code do?

In [ ]:
filt_usa = df['Country'] == 'United States'

df.loc[filt_usa,'SocialMedia'].value_counts()

### Try for Nepal, India, Russian Federation, China

### The `groupby` function

In [ ]:
country_group = df.groupby('Country')

In [ ]:
country_group

In [ ]:
country_group['SocialMedia'].value_counts()

In [ ]:
country_group['SocialMedia'].value_counts().head(50)

### What if we want to find for a specific country?

In [ ]:
country_group['SocialMedia'].value_counts().loc['Nepal']

### Most popular in India?

In [ ]:
country_group['SocialMedia'].value_counts().loc['India']

### Brazil?

In [ ]:
country_group['SocialMedia'].value_counts().loc['Brazil']

### What about China?

In [ ]:
country_group['SocialMedia'].value_counts().loc['China']

### USA?

In [ ]:
country_group['SocialMedia'].value_counts().loc['United States']

In [ ]:
country_group['SocialMedia'].value_counts().loc['China'].plot.bar()

### Lets do a median grouping for Salary

In [ ]:
country_group['ConvertedComp'].median()

### How much are Nepali developers earning on average?

In [ ]:
country_group['ConvertedComp'].median().loc['Nepal']

In [ ]:
country_group['ConvertedComp'].median().loc['India']

### Compare it to India

In [ ]:
country_group['ConvertedComp'].mean().loc['India']

In [ ]:
country_group['ConvertedComp'].median().loc['India']

### The power of aggregation `agg` function

In [ ]:
country_group['ConvertedComp'].agg(['mean','median','min', 'max'])

### Finding for a specific country

In [ ]:
country_group['ConvertedComp'].agg(['mean','median', 'min', 'max']).loc['Nepal']

### Some exercises

Education Data Analysis
- Get the `EdLevel` data  of Nepal
- Count and plot the `EdLevel` data of Nepal
- Perform grouping of countries and find the `EdLevel` data
- Compare the education status of developers from `India` and `Nepal`.
- Using `agg` function, compute the `mean`, `median`, `max`, and `min` data of `age` of all countries.

### Some more analysis

1. How many developers code as a hobby, and how does it vary across different countries? Hint: `Hobbyist` and `Country`
2. What is the average number of years developers have been coding professionally? Hint: `YearsCodePro`
3. How does job satisfaction vary based on the number of working hours per week? Hint: `JobSat` and `WorkWeekHrs`
4. What are the most common web frameworks used by developers, and are there any preferences for the next year? Hint: `WebFrameWorkedWith` and `WebFrameDesireNextYear`
5. Is there any relationship between compensation and the number of years of coding experience? Hint: `ConvertedComp`
6. Do developers who work remotely report higher career satisfaction compared to those who don't? Hint: `WorkRemote` and `JobSat`
7. What is the average age of developers across different countries, and how does it affect their career satisfaction? Hint: `CareerSat`

In [ ]:
# Assuming 'df' is the DataFrame containing the survey data

# 1. How many developers code as a hobby, and how does it vary across different countries?
hobbyist_count = df['Hobbyist'].value_counts()
hobbyist_by_country = df.groupby('Country')['Hobbyist'].value_counts().unstack()

# 2. What is the average number of years developers have been coding professionally?
df['YearsCodePro'] = df['YearsCodePro'].replace('Less than 1 year', '0')
df['YearsCodePro'] = df['YearsCodePro'].replace('More than 50 years', '51').astype(float)
average_years_pro = df['YearsCodePro'].mean()

# 3. How does job satisfaction vary based on the number of working hours per week?
job_sat_by_work_hrs = df.groupby('WorkWeekHrs')['JobSat'].value_counts().unstack()

# 4. What are the most common web frameworks used by developers, and are there any preferences for the next year?
web_frameworks_used = df['WebFrameWorkedWith'].str.split(';', expand=True).stack().value_counts()
web_frameworks_desire = df['WebFrameDesireNextYear'].str.split(';', expand=True).stack().value_counts()

# 5. Is there any relationship between compensation and the number of years of coding experience?
comp_vs_experience = df.groupby('YearsCode')['ConvertedComp'].median()

# 6. Do developers who work remotely report higher career satisfaction compared to those who don't?
remote_vs_career_sat = df.groupby('WorkRemote')['CareerSat'].value_counts().unstack()

# 7. What is the average age of developers across different countries, and how does it affect their career satisfaction?
average_age_by_country = df.groupby('Country')['Age'].mean()
career_sat_by_age = df.groupby('Age')['CareerSat'].value_counts().unstack()

### So far...

In [2]:
import pandas as pd
df = pd.read_csv('survey_results_public.csv')
country_group = df.groupby('Country')

### Let's see which country uses Python the most!
But first, lets understand `lambda` in Python.

In [ ]:
square = lambda x: x**2

In [ ]:
type(square)

In [ ]:
# Using the lambda function
square(5)

In [ ]:
x = lambda a : a + 10
x(5)

In [ ]:
x = lambda a,b,c:(a*b)+c
x(4,5,6)

In [ ]:
def pooja(a,b,c):
    return (a*b)+c

pooja(4,5,6)

### What percentage of people know Python from each countries?

Pandas `apply()` allow the users to pass a function and apply it on every single value of the Pandas series.

In [3]:
country_group['LanguageWorkedWith'].value_counts()

Country      LanguageWorkedWith
Afghanistan  HTML/CSS;JavaScript;PHP;SQL                      3
             Python                                           2
             HTML/CSS;Java;JavaScript;PHP;Python;SQL          2
             HTML/CSS;Java;PHP;SQL                            2
             Assembly                                         1
                                                             ..
Zimbabwe     C++;C#;HTML/CSS;Java;PHP;SQL                     1
             C++;HTML/CSS;Java;PHP                            1
             C++;HTML/CSS;JavaScript;PHP;R;SQL                1
             C;C++;C#;HTML/CSS;Java;JavaScript;PHP;SQL;VBA    1
             Python                                           1
Name: count, Length: 48114, dtype: int64

In [4]:
country_uses_python = country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [5]:
country_total = df['Country'].value_counts()
country_total

Country
United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
North Korea              1
Brunei Darussalam        1
Chad                     1
Name: count, Length: 179, dtype: int64

In [6]:
python_df = pd.concat([country_total,country_uses_python], axis='columns')
python_df

                   count  LanguageWorkedWith
Country
United States      20949               10083
India               9061                3105
Germany             5866                2451
United Kingdom      5737                2384
Canada              3395                1558
...                  ...                 ...
Tonga                  1                   0
Timor-Leste            1                   1
North Korea            1                   0
Brunei Darussalam      1                   0
Chad                   1                   0

[179 rows x 2 columns]

In [7]:
python_df.rename(columns={'count':'TotalDevelopers','LanguageWorkedWith':'KnowsPython'}, inplace=True)
python_df

                   TotalDevelopers  KnowsPython
Country
United States                20949        10083
India                         9061         3105
Germany                       5866         2451
United Kingdom                5737         2384
Canada                        3395         1558
...                            ...          ...
Tonga                            1            0
Timor-Leste                      1            1
North Korea                      1            0
Brunei Darussalam                1            0
Chad                             1            0

[179 rows x 2 columns]

In [8]:
(python_df['KnowsPython']/python_df['TotalDevelopers'])*100

Country
United States         48.131176
India                 34.267741
Germany               41.783157
United Kingdom        41.554820
Canada                45.891016
                        ...
Tonga                  0.000000
Timor-Leste          100.000000
North Korea            0.000000
Brunei Darussalam      0.000000
Chad                   0.000000
Length: 179, dtype: float64

In [9]:
python_df['PercentKnowsPython'] = (python_df['KnowsPython']/python_df['TotalDevelopers'])*100
python_df

                   TotalDevelopers  KnowsPython  PercentKnowsPython
Country
United States                20949        10083           48.131176
India                         9061         3105           34.267741
Germany                       5866         2451           41.783157
United Kingdom                5737         2384           41.554820
Canada                        3395         1558           45.891016
...                            ...          ...                 ...
Tonga                            1            0            0.000000
Timor-Leste                      1            1          100.000000
North Korea                      1            0            0.000000
Brunei Darussalam                1            0            0.000000
Chad                             1            0            0.000000

[179 rows x 3 columns]

In [ ]:
python_df.sort_values(by='KnowsPython', ascending=False, inplace=True)
python_df

In [ ]:
python_df.head(50)

### Find the record for Nepal, India, and United States

In [ ]:
python_df.loc['Nepal']

In [ ]:
python_df.loc['India']

In [ ]:
python_df.loc['United States']